.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;

    .link {
        height: 100%;
    }

    a{  
        height: 100%;
        display: inline-flex;
        align-items: center;
        padding: 0 30px;
        text-transform: uppercase;
        color: black;
        text-decoration: none;
        transition: .5s;

        &.active,
        &:hover {
            background-color: black;
            color: white;
            border-radius: 10px;
        }
    }
}